In [1]:
#imports
import pandas as pd
import numpy as np

In [2]:
#merging all the csv's
df = pd.concat(
    map(pd.read_csv, 
        ['dataset/Bot-IoT/UNSW_2018_IoT_Botnet_Full5pc_1.csv',
         'dataset/Bot-IoT/UNSW_2018_IoT_Botnet_Full5pc_2.csv',
         'dataset/Bot-IoT/UNSW_2018_IoT_Botnet_Full5pc_3.csv',
         'dataset/Bot-IoT/UNSW_2018_IoT_Botnet_Full5pc_4.csv']), 
    ignore_index=True)

C:\Users\shiva\AppData\Local\Temp\ipykernel_20080\3643078548.py:2: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(
C:\Users\shiva\AppData\Local\Temp\ipykernel_20080\3643078548.py:2: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(
C:\Users\shiva\AppData\Local\Temp\ipykernel_20080\3643078548.py:2: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(
C:\Users\shiva\AppData\Local\Temp\ipykernel_20080\3643078548.py:2: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(

In [3]:
#consider state srate drate later
df = df[['spkts','dpkts','sbytes','dbytes','dur','proto','category']]

In [4]:
df.head()

   spkts  dpkts  sbytes  dbytes       dur proto category
0      5      3     650    1330  7.056393   tcp      DoS
1      1      1      60      60  0.000131   arp      DoS
2      5      3     796    1330  7.047852   tcp      DoS
3      5      3     694    1330  7.047592   tcp      DoS
4      5      3     989    1330  7.046841   tcp      DoS

In [5]:
df['proto'].value_counts()

udp          1996437
tcp          1662812
icmp            9052
arp              213
ipv6-icmp          8
Name: proto, dtype: int64

In [6]:
(1996437+1662812)/3668522

0.9974722790268125

In [7]:
#we only take tcp and udp as by removing other columns we are only rejecting 1% of the data
df = df[(df['proto']=='udp') | (df['proto']=='tcp')]

In [8]:
#replacing udp with 0 and tcp with 1
df['proto'] = np.where(df['proto'] == 'udp', 0, 1)

In [9]:
df['category'].value_counts()

DDoS              1926573
DoS               1650197
Reconnaissance      81982
Normal                422
Theft                  75
Name: category, dtype: int64

In [10]:
#we only need  attack category of dos and ddos type
df = df[(df['category']=='DDoS') | (df['category']=='DoS')]

In [11]:
df

         spkts  dpkts  sbytes  dbytes        dur  proto category
0            5      3     650    1330   7.056393      1      DoS
2            5      3     796    1330   7.047852      1      DoS
3            5      3     694    1330   7.047592      1      DoS
4            5      3     989    1330   7.046841      1      DoS
5            5      3     653    1330   7.046596      1      DoS
...        ...    ...     ...     ...        ...    ...      ...
3576879      8      0     480       0  14.869558      0     DDoS
3576880      8      0     480       0  14.869558      0     DDoS
3576881      8      0     480       0  14.869558      0     DDoS
3576882      8      0     480       0  14.869558      0     DDoS
3576883      8      0     480       0  14.869558      0     DDoS

[3576770 rows x 7 columns]

In [12]:
df_dos = df[df['category'] == 'DoS']
df_dos_train = df_dos.iloc[:1600000]
df_dos_test = df_dos.iloc[1641197:]

In [13]:
df_dos_train.to_csv('dataset/cleaned_dataset/train/bot_iot_dos.csv',index=False)
df_dos_test.to_csv('dataset/cleaned_dataset/test/bot_iot_dos.csv',index=False)

In [14]:
df_ddos = df[df['category'] == 'DDoS']
df_ddos.reset_index(drop= True,inplace = True)

In [15]:
df_ddos

         spkts  dpkts  sbytes  dbytes        dur  proto category
0            6      4     963     766   6.406424      1     DDoS
1            6      4     838     766   6.405851      1     DDoS
2            5      3    1008     700   6.401038      1     DDoS
3            5      3     762     700   6.400703      1     DDoS
4            5      3     596     700   6.400472      1     DDoS
...        ...    ...     ...     ...        ...    ...      ...
1926568      8      0     480       0  14.869558      0     DDoS
1926569      8      0     480       0  14.869558      0     DDoS
1926570      8      0     480       0  14.869558      0     DDoS
1926571      8      0     480       0  14.869558      0     DDoS
1926572      8      0     480       0  14.869558      0     DDoS

[1926573 rows x 7 columns]

In [17]:
df_ddos = df[df['category'] == 'DDoS']
df_ddos.reset_index(drop= True,inplace = True)
df_ddos_train = df_ddos.iloc[:1600000]
df_ddos_test = df_ddos.iloc[1917572:]

In [18]:
df_ddos_train.to_csv('dataset/cleaned_dataset/train/bot_iot_ddos.csv',index=False)
df_ddos_test.to_csv('dataset/cleaned_dataset/test/bot_iot_ddos.csv',index=False)